*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.artifacts/e07ba881-2b09-434e-b8e0-3bc985b88ef6/implementation_plan.artifact.md
/.artifacts/e07ba881-2b09-434e-b8e0-3bc985b88ef6/task.artifact.md
/.artifacts/e07ba881-2b09-434e-b8e0-3bc985b88ef6/walkthrough.artifact.md
